# IDEs
.idea/
.vscode/
*.iml


# Python
__pycache__/
*.py[cod]
.venv/
venv/


# Java/Gradle/Maven
*.class
*.jar
*.war
.gradle/
build/
.target/


# Node
node_modules/


# Sistema
.DS_Store
Thumbs.db
*.tmp
.env
